frontend/public_src/css/bootstrap.min.css
frontend/public_src/css/font-awesome.min.css
frontend/public_src/fonts/fontawesome-webfont.eot
frontend/public_src/fonts/fontawesome-webfont.svg
frontend/public_src/fonts/fontawesome-webfont.ttf
frontend/public_src/fonts/fontawesome-webfont.woff
frontend/public_src/fonts/fontawesome-webfont.woff2
frontend/public_src/fonts/FontAwesome.otf
frontend/public_src/js/bootstrap.min.js
frontend/public_src/js/jquery-2.1.4.min.js
frontend/public_src/js/wavesurfer.min.js
