extends layout

block content


	div.modal.fade#clear-texts
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Clear text data
				div.modal-body
					p Are you sure to delete all the text data?
				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
					button.btn.btn-danger#text-clear-confirm(type='button', data-dismiss='modal') Clear











	// Thanks to
	// * http://stackoverflow.com/questions/5081534/put-jade-local-variable-in-tag-attribute
	// * http://jade-lang.com/reference/comments/
	div#wave(file-to-process=pageData.fileToProcess)
		div#wave-content
		div#wave-loading
			i.fa.fa-spinner.fa-spin

	nav.navbar.navbar-light.bg-faded
		div.pull-left
			// Thanks to
			// * http://stackoverflow.com/questions/10953326/what-is-a-concise-way-to-create-inline-elements-in-jade
			// * http://stackoverflow.com/questions/20727360/do-i-have-to-use-nbsp-for-space-in-jade
			a#wave-step-backward.btn.btn-primary
				i.fa.fa-step-backward
				span &nbsp;
				span.text Step backward
			|  
			a#wave-play.btn.btn-primary
				i.fa.fa-play
				span &nbsp;
				span.text Play
			|  
			a#wave-stop.btn.btn-primary
				i.fa.fa-stop
				span &nbsp;
				span.text Stop
			|  
			a#wave-step-forward.btn.btn-primary
				i.fa.fa-step-forward
				span &nbsp;
				span.text Step forward
			|  	
			a#wave-set-marker.btn.btn-info
				i.fa.fa-thumb-tack
				span &nbsp;
				span.text Set marker
			|  	
			a#wave-play-from-marker.btn.btn-info
				i.fa.fa-play
				span &nbsp;
				span.text Play from marker

		div.pull-right
			a#wave-save.btn.btn-success
				i.fa.fa-floppy-o
				span &nbsp;
				span.text Save
			|  
			a#wave-delete.btn.btn-danger
				i.fa.fa-trash
				span &nbsp;
				span.text Delete

	div#text-manager
		div#text-wrapper
			table.table.table-bordered
				thead
					tr
						th.frame Frame
						th.text Text
						th.actions Actions
				tbody
					tr
						td.frame
							div.input-group
								input(type='number').form-control.frame
								a.btn.btn-info.arrow-left
									i.fa.fa-arrow-left
						td
							div.input-group
								input(type='text').form-control

						td
							a.btn.btn-info.arrow-up
								i.fa.fa-arrow-up
							|  
							a.btn.btn-info.arrow-down
								i.fa.fa-arrow-down
							|  
							a#wave-delete.btn.btn-danger.delete
								i.fa.fa-trash

		nav.navbar.navbar-light.bg-faded
			div.pull-left
				a#text-add.btn.btn-success
					i.fa.fa-plus
					span &nbsp;
					span.text Add text
				|  
				a#text-sort.btn.btn-info
					i.fa.fa-sort-amount-asc
					span &nbsp;
					span.text Sort
				|  

			div.pull-right
				a#text-clear.btn.btn-danger
					i.fa.fa-trash
					span &nbsp;
					span.text Clear
				|  








		