extends layout

block content
	// Thanks to
	// * http://stackoverflow.com/questions/5081534/put-jade-local-variable-in-tag-attribute
	// * http://jade-lang.com/reference/comments/
	div#wave(file-to-process=pageData.fileToProcess)


