extends layout

block content
	script.
		fileCount=#{pageData.fileCount};

	+modal('delete-file', 'Remove recording', 'Are you sure to delete the whole recording? You can\'t undo this.', 'Cancel', 'Delete recording', 'delete-file-confirm')
	+modal('clear-texts', 'Clear text data', 'Are you sure to delete all the text data?', 'Cancel', 'Clear', 'text-clear-confirm')
	+modal('set-marker-first-error', 'An error occurred', 'Please set a marker first before you try to jump to it.', 'Whoops, sorry!')
	+modal('decrease-volume-modal', 'Decrease volume', 'Are you sure to decrease the volume of this audio file by 50%? This will move the file away from your processing scope until the volume is decreased. The audio file will automatically re-appear on the home page.', 'Cancel', 'Decrease volume', 'decrease-volume-confirm')
	+modal('increase-volume-modal', 'Increase volume', 'Are you sure to increase the volume of this audio file by 50%? This will move the file away from your processing scope until the volume is increased. The audio file will automatically re-appear on the home page.', 'Cancel', 'Increase volume', 'increase-volume-confirm')

	// Thanks to
	// * http://stackoverflow.com/questions/5081534/put-jade-local-variable-in-tag-attribute
	// * http://jade-lang.com/reference/comments/
	div#wave(file-to-process=pageData.fileToProcess)
		div#wave-content
		div#wave-loading
			i.fa.fa-spinner.fa-spin

	nav.navbar.navbar-light.bg-faded
		div.pull-left
			// Thanks to
			// * http://stackoverflow.com/questions/10953326/what-is-a-concise-way-to-create-inline-elements-in-jade
			// * http://stackoverflow.com/questions/20727360/do-i-have-to-use-nbsp-for-space-in-jade
			+button('wave-step-backward',    'step-backward', 'Step backward',    'primary', '', 'Step backward', 'right')
			+button('wave-play', 		     'play', 		  'Play',             'primary', '', 'Play')
			+button('wave-stop', 		     'stop', 		  'Stop',             'primary', '', 'Stop')
			+button('wave-step-forward',     'step-forward',  'Step forward',     'primary', '', 'Step forward')
			+button('wave-set-marker',       'thumb-tack',    'Set marker',       'info', 	 '', 'Set marker')
			+button('wave-play-from-marker', 'play',    	  'Play from marker', 'info',    '', 'Play from marker')
			+button('wave-decrease-volume',  'volume-down',   'Decrease volume',  'warning', '', 'Decrease volume')
			+button('wave-increase-volume',  'volume-up',     'Increase volume',  'warning', '', 'Increase volume')
		div.pull-right
			+button('wave-save',  		 	 'floppy-o',      'Save',  			  'success', '', 'Save text')
			+button('wave-delete',  		 'trash',         'Delete',  		  'danger',  '', 'Delete recording', 'left')
	div#text-manager
		div#text-wrapper
			table.table.table-bordered
				thead
					tr
						th.frame Frame
						th.text Text
						th.actions Actions
				tbody
					tr
						td.frame
							div.input-group
								input(type='number', min='0').form-control.frame
								+button('', 'arrow-left', '',  'info', 'arrow-left', 'Insert current frame position')
						td
							div.input-group
								input(type='text').form-control.text

						td
							+button('', 'arrow-up',   '',  'info',   'arrow-up',   'Move up')
							+button('', 'arrow-down', '',  'info',   'arrow-down', 'Move down') 
							+button('', 'trash',      '',  'danger', 'delete',     'Delete text') 

		nav.navbar.navbar-light.bg-faded
			div.pull-left
				+button('text-add',  'plus',            'Add text', 'success', '', 'Add text', 'right')
				+button('text-sort', 'sort-amount-asc', 'Sort',     'info',    '', 'Sort ascending')

			div.pull-right
				+button('text-clear', 'trash', 'Clear', 'danger', '', 'Clear all texts', 'left')