html
	head
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/sleeptalk.css')
	body
		div.container
		nav.navbar.navbar-light.bg-faded#main-navbar
			div.pull-left
				a.navbar-brand(href='https://github.com/blaues0cke/PiSleepTalk', target='_blank') PiSleepTalk

			div.pull-right
				div#info-area


		block content
		script(src='js/jquery-2.1.4.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/wavesurfer.min.js')
		script(src='js/wavesurfer.regions.js')
		script(src='js/sleeptalk.js')