html
	head
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/sleeptalk.css')
	body
		div.container
		nav.navbar.navbar-light.bg-faded
			a.navbar-brand(href="https://github.com/blaues0cke/PiSleepTalk") PiSleepTalk



		block content
		script(src='js/jquery.min.js')
		script(src='js/wavesurfer.min.js')
		script(src='js/sleeptalk.js')