extends layout

block content
	div.jumbotron
		h1.display-3= __('no_recordings.title')
		p.lead= __('no_recordings.description')
		hr.m-y-2
		p= __('no_recordings.sub_description')
		p.lead
			a.btn.btn-primary.btn-lg.btn-reload(role='button')= __('actions.reload_page')