extends layout

block content
	+modal('delete-video', 'Remove video', 'Are you sure to delete the whole video? You can\'t undo this.', 'Cancel', 'Delete video', 'delete-video-confirm')
	+modal('play-video', 'Video preview', '', 'Ok')
		div.embed-responsive.embed-responsive-16by9#video-target

	div#video-list
			table.table.table-bordered
				thead
					tr
						th.path Path
						th.size Size
						th.length Lenght
						th.actions Actions
				tbody
					if !pageData.videos || pageData.videos.length == 0
						tr
							td(colspan=4) No rendered videos are available at the moment.
					each video in pageData.videos
						tr
							td.path #{video.path}
							td.size #{video.size} KB
							td.length #{video.length}s
							td.actions
								+button('', 'play',     '',  'success', 'play',     'Play video in browser')
								+button('', 'download', '',  'info',    'download', 'Download video')
								+button('', 'trash',    '',  'danger',  'delete',   'Delete video')