extends layout

block content
	div.modal.fade#delete-video
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Remove video
				div.modal-body
					p Are you sure to delete the whole video? You can't undo this.
				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
					button.btn.btn-danger#delete-video-confirm(type='button', data-dismiss='modal') Delete video

	div.modal.fade#play-video
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Video preview
				div.modal-body
					div.embed-responsive.embed-responsive-16by9#video-target

				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal') Ok

	div#video-list
			table.table.table-bordered
				thead
					tr
						th.path Path
						th.size Size
						th.length Lenght
						th.actions Actions
				tbody
					if !pageData.videos || pageData.videos.length == 0
						tr
							td(colspan=4) No rendered videos are available at the moment.
					each video in pageData.videos
						tr
							td.path #{video.path}
							td.size #{video.size} KB
							td.length #{video.length}s
							td.actions
								a.btn.btn-success.play
									i.fa.fa-play
								|  
								a.btn.btn-info.download
									i.fa.fa-download
								|  
								a.btn.btn-danger.delete
									i.fa.fa-trash