# 
# This file is part of PiSleepTalk.
# Learn more at: https://github.com/blaues0cke/PiSleepTalk
# 
# Author:  Thomas Kekeisen <pisleeptalk@tk.ca.kekeisen.it>
# License: This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
#          To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/.
#

# Audio settings
auto_normalize=true
highpass_filter_enabled=true
highpass_filter_threshold=600
max_chunks="50"
max_amplitude_threshold=0.300000
mid_amplitude_threshold=0.075000
min_file_size_in_kb=20

# Button
button_enabled=true
force_button_enabled=true

# Cache
cache_enabled=true

# File formats
default_audio_format=wav
default_force_import_format=force-import
default_image_format=png
default_image_lock_file_format=images-generated
default_noise_format=prof
default_sleeptalk_format=sleeptalk
default_sleeptalk_movie_format=sleeptalkmovie
default_video_audio_format=mp3
default_video_format=mp4
lock_file_format=sleeptalk.exclusivelock

# File paths
audio_file_path_amplitude=/usr/sleeptalk/records-amplitude
audio_file_path_crop=/usr/sleeptalk/records-crop
audio_file_path_decrease_volume=/usr/sleeptalk/records-decrease-volume
audio_file_path_debug=/usr/sleeptalk/debug
audio_file_path_final=/usr/sleeptalk/records-final
audio_file_path_glob=/usr/sleeptalk/records-*
audio_file_path_import=/usr/sleeptalk/records-import
audio_file_path_increase_volume=/usr/sleeptalk/records-increase-volume
audio_file_path_noise=/usr/sleeptalk/noise-data
audio_file_path_raw=/usr/sleeptalk/records-raw
audio_file_path_rendered=/usr/sleeptalk/records-rendered
audio_file_path_timestamp=/usr/sleeptalk/records-timestamp
audio_file_path_to_render=/usr/sleeptalk/records-to-render
cache_path=/usr/sleeptalk/cache
error_log_path=/usr/sleeptalk/error.log
root_dir=/usr/sleeptalk
test_file_path=/usr/sleeptalk/test-data

# Importer
import_dealay_seconds=500

# Last.fm
last_fm_api_key=
last_fm_enabled=false
last_fm_timeout_in_seconds=900
last_fm_username=

# LED
led_enabled=true
led_switch_enabled=true

# Locale
default_locale=en

# Noise filter
noise_filter_enabled=true
noise_filter_sensitivity=0.21

# Overview
overview_file_limit=250

# Pushover
push_over_enabled=false
# Possible values:
# [unprocessed_files]
# [used_disk_space]
push_over_text="__unprocessed_files__ unprocessed files, __used_disk_space__% used disk space."
push_over_token=
push_over_user=

# Spectrum
spectrum_enabled=true

# Swarm
# Visit https://developer.foursquare.com/docs/explore#req=users/self/checkins to get a oauth_token
swarm_enabled=false
swarm_home_venue_id=
swarm_oauth_token=

# Time
recording_hours_check_enabled=true
recording_hours="23 1 2 3 4 5 6 7 8 9 10"

# Video
frames_per_second=15
title_time_in_seconds=1
video_gap_length_in_seconds=1

# Web
web_auth_enabled=true
web_user=pi
web_password=raspberry
web_port=9888