# 
# This file is part of PiSleepTalk.
# Learn more at: https://github.com/blaues0cke/PiSleepTalk
# 
# Author:  Thomas Kekeisen <pisleeptalk@tk.ca.kekeisen.it>
# License: This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
#          To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/.
#

# Audio settings
max_chunks="50"
max_amplitude_threshold=0.100000
mid_amplitude_threshold=0.075000

# Button
button_enabled=true
force_button_enabled=true

# File formats
default_audio_format=wav
default_force_import_format=force-import
default_image_format=png
default_image_lock_file_format=images-generated
default_sleeptalk_format=sleeptalk
default_sleeptalk_movie_format=sleeptalkmovie
default_video_audio_format=mp3
default_video_format=mp4

# File paths
audio_file_path_amplitude=/usr/sleeptalk/records-amplitude
audio_file_path_decrease_volume=/usr/sleeptalk/records-decrease-volume
audio_file_path_debug=/usr/sleeptalk/debug
audio_file_path_final=/usr/sleeptalk/records-final
audio_file_path_glob=/usr/sleeptalk/records-*
audio_file_path_import=/usr/sleeptalk/records-import
audio_file_path_increase_volume=/usr/sleeptalk/records-increase-volume
audio_file_path_raw=/usr/sleeptalk/records-raw
audio_file_path_rendered=/usr/sleeptalk/records-rendered
audio_file_path_timestamp=/usr/sleeptalk/records-timestamp
audio_file_path_to_render=/usr/sleeptalk/records-to-render
error_log_path=/usr/sleeptalk/error.log
root_dir=/usr/sleeptalk
test_file_path=/usr/sleeptalk/test-data

# Importer
import_dealay_seconds=500

# Last.fm
last_fm_api_key=e6fd19832a61d4bc8c149f0a7bd78b42
last_fm_enabled=true
last_fm_timeout_in_seconds=900
last_fm_username=blauesocke

# LED
led_enabled=true

# Locale
default_locale=en

# Time
recording_hours_check_enabled=true
recording_hours="23 1 2 3 4 5 6 7 8 9 10"

# Video
frames_per_second=15
title_time_in_seconds=8
video_gap_length_in_seconds=1

# Web
web_auth_enabled=true
web_user=pi
web_password=raspberry
web_port=9888